/* 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    font-family: sans-serif;
}

h1{
    font-size: 250%;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
article{
    width: 60vw;
    margin: 0 auto;
    padding: 40px;
}

img{
    width: 60%;
    margin-bottom: 40px;
}

p{
    margin-bottom: 40px;
}*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
}

nav{
    background-color: black;
}

ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    list-style-type: none;
    font-size: 30px;
    padding: 20px;
    white-space: nowrap;
}

li{
    color: white;
}
.li-logo{
    justify-content: flex-start;
}

#BuyTicket{
    font-size: 40px;
    background-color: rgb(67, 169, 67);
    padding: 12px;
    border-radius:10px 10px;
}

.logo{
    display: inline-block;
    margin-left: 20px;
    max-height: 200px;
    max-width: 200px;
    filter: invert();
    float: left;
}

body{
    font-size: 20px;
    font-family: sans-serif;
    background-image: url(img/backgroundimagewebsite.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section > p{
    color: white;
    padding: 40px;
}

img#splash{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60vw; 
    margin: 40px; 
    border-radius: 8px;
}

p#text{
    width: 20vw;    
    background-color: white;
}

footer{
    width:100vw;
    color:white;
    background: black;
    height: 300px;
    margin-top: 40px;
}


@media screen and (max-width:1000px) {
    img#splash{
        width: 90vw;
        margin: 0 auto;
    }
    p#text{
        display: block;
        width: 90vw;
    }
    ul{
        font-size:15px; 
    }

    .logo{
        width:100px;
        justify-content: center;
        align-items: center;
    }

}